.webcam-container{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    
}

.button-actions-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 1rem;
}

.btn-webcam {
  display: flex;
  padding: 15px;
  border-radius: 30px;
  /* font-weight: 10; */
  font-family: 'Franklin Gothic Medium';
  background-color: rgba(130, 15, 15, 0.574);
  color: white;
  border: solid 1px rgba(255, 255, 255, 0.361);
  cursor: pointer;
  transition: 0.2s;
}

.btn-webcam:hover{
  padding: 20px;
  background-color: rgba(192, 22, 22, 0.574);
}